# Configuración de Django
SECRET_KEY=tu-clave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Configuración de Base de Datos PostgreSQL
DB_NAME=sistema_inventarios
DB_USER=postgres
DB_PASSWORD=Guilder6494
DB_HOST=localhost
DB_PORT=5434
JWT_SECRET=superclave123

# Configuración de Email (opcional)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tu-email@gmail.com
EMAIL_HOST_PASSWORD=tu-password-email

# Configuración de Almacenamiento de Archivos
MEDIA_ROOT=media/
STATIC_ROOT=staticfiles/

# Configuración de Stock
STOCK_CRITICO=10
STOCK_BAJO=30
