# Core - Lo esencial para que funcione
Django==5.1.1
python-decouple==3.8

# Base de datos PostgreSQL
psycopg2-binary==2.9.10
dj-database-url==2.2.0

# Servidor para producción
gunicorn==23.0.0

# Archivos estáticos en producción
whitenoise==6.8.2

# Manejo de imágenes (fotos de productos)
Pillow==11.0.0

# Generación de PDFs (solo cuando lo necesites, descomenta)
# reportlab==4.0.9
reportlab==4.2.2
django-storages[boto3]==1.14.4

# API
djangorestframework==3.15.2