# Core - Lo esencial para que funcione
Django==5.1.1
python-decouple==3.8

# Base de datos PostgreSQL
psycopg2-binary==2.9.10
dj-database-url==2.2.0

# Servidor para producción (COMENTADO - solo para producción)
 gunicorn==23.0.0

# Archivos estáticos en producción (COMENTADO - solo para producción)
# whitenoise==6.8.2

# Manejo de imágenes (fotos de productos)
Pillow==11.0.0

# Generación de PDFs
reportlab==4.0.9

# API REST (COMENTADO - no se usa)
# djangorestframework==3.14.0

# Almacenamiento en Blackblaze B2 (COMENTADO - no se usa)
# django-storages==1.14.2
# boto3==1.42.58

# API (COMENTADO - no se usa)
# djangorestframework==3.15.2
