.fila-stock-critico {
    background-color: #fdecea; /* rojo muy suave */
    border-left: 5px solid #e53935;
}

.fila-stock-bajo {
    background-color: #fff8e1; /* amarillo muy suave */
    border-left: 5px solid #fbc02d;
}
.codigo-Inventario {
    background: #e0ecff;
    color: #1e40af;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: 600;
    display: inline-flex;
    text-align: center !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    align-items: center;
}
.tr-inventario{
    vertical-align: middle;
    align-items: center;
}
.columna-normal {
    display: inline-flex;
    text-align: center !important;
    vertical-align: middle;
    align-items: center !important;}
.badge-stock-inventario{
    padding: 6px 10px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.85rem;
}
.badge-stock {
    padding: 6px 10px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.85rem;
}

.badge-normal {
    background-color: #e8f5e9;
    color: #2e7d32;
}

.badge-bajo {
    background-color: #fff3cd;
    color: #856404;
}

.badge-critico {
    background-color: #fdecea;
    color: #b71c1c;
}